<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page</title>

<link rel="stylesheet" href="main.css" type="text/css" />
</head>
<body>



	<header>
	
		<div class="container text-center">
<img src="https://cdn.dribbble.com/users/27903/screenshots/4207049/bike.png?compress=1&resize=400x300" alt="bike" width="80" height="60">			
			
			<!--  <h1>Welcome</h1>-->
			<nav>
				<ul>
					<li><a th:href="@{/register}">Register</a></li>
					<li><a th:href="@{/list_users}">List All Users</a></li>
					<li><a th:href="@{/list_bikes}">List All Bikes</a></li>
					<li><a th:href="@{/login}">Login</a></li>
				</ul>
			</nav>
		</div>
	</header>

	

</body>
</html>